<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted" style="font-style: normal;">교육 및 경험</h3>
                    <!-- <div style="text-align: left;max-width: 60em; margin: auto;padding:3em 0 3em;line-height: 1.7em;">
                        <span class="aboutme">1. 도전하는 것을 좋아합니다.</span>
                        <br>
                        수학과를 졸업한 후 조금 더 산업 분야에 다가가기 위해 IT유통물류 석사 과정을 밟았습니다.
                        그 과정에서 프로그래밍 공부에 흥미를 가지게 되었고, IT 분야를 중점적으로 공부해 나갔습니다.
                        또한, 4차 산업혁명 기술이 중요성을 느끼고 졸업 후 삼성 멀티캠퍼스에서 딥러닝 과정을 1000시간 이수하였습니다.
                        저는 앞으로도 도전을 두려워 하지 않고 새로운 기술에 적응하는 개발자가 될 것입니다.
                        <br><br>
                        <span class="aboutme">2. 논리적인 사고로 문제를 해결할 것입니다.</span>
                        <br>
                        세 편의 논문과 한 편의 졸업논문을 작성한 경험이 있습니다. 이러한 경험에서 문제를 해결해 나가는 과정을 알게 되었으며, 앞으로도 논리적인 사고를 통해 문제에 접근할 것입니다.
                        <br><br>
                        <span class="aboutme">3. 다양한 분야 사람들과의 협업에 익숙합니다.</span>
                        <br>
                        융합학과를 다니며 다양한 전공자들과 프로젝트를 진행한 경험이 있습니다. 
                        각 팀원의 역량이 서로 다르다는 것을 알게되었고, 각자의 장점에 맞는 역할을 수행하므로서 시너지를 내려 노력하였습니다.
                        이 경험은 멀티캠퍼스에서 프로젝트를 원활히 진행하는데 도움이 되었습니다.

                    </div> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/math.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011.02 - 2017.02</h4>
                                    <h4 class="subheading">수학과 학사</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">선형대수, 정수론, 통계학, 위상수학, 미적분학 과목 등을 이수함</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logistics.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017.09 - 2019.08</h4>
                                    <h4 class="subheading">IT유통물류 공학석사</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">빅데이터 분석, 클라우드 시스템, IoT 시스템, IoT 네트워크 과목 등을 이수함</p>
                                    <p class="text-muted">2019 ICEBA 국제학회 <a style="text-decoration: underline;" target="_blank" href="https://dl.acm.org/doi/10.1145/3317614.3317625">논문1</a> <a style="text-decoration: underline;" target="_blank" href="https://dl.acm.org/doi/10.1145/3317614.3317628">논문2</a></p>
                                    <p class="text-muted">2019 ICICIC 국제학회 <a style="text-decoration: underline;" target="_blank" href="http://www.icicelb.org/ellb/contents/2020/6/elb-11-06-06.pdf">논문3</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ai.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019.12 - 2020.06</h4>
                                    <h4 class="subheading"><span >삼성 멀티캠퍼스</span> <br>딥러닝 기반 AI 엔지니어링 </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">고용노동부가 주관하는 딥러닝 기반 AI 엔지니어링 과정 1000시간을 이수함</p>
                                    <p class="text-muted"><i style="color:#fec503" class="fas fa-medal"></i>&nbsp;파이널 프로젝트 우수상 수상</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>Future
                                    <br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>