<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">딥러닝 공부를 중심으로 하고 있으며, 웹 프로그래밍 언어를 이해하며 다룰 수 있습니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI skills</h4>
                    <p class="skills-text"><span>Python, R, Pandas, TensorFlow, Keras</span></p>
                    <ul class="skills-li">
                        <li>다양한 파이썬 라이브러리 활용</li> 
                        <li>R, pandas 이용한 데이터 전처리 및 분석</li>
                        <li>Tensorflow, Keras를 사용하여 딥러닝 모델 학습</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web skills</h4>
                    <p class="skills-text"><span>HTML, CSS, JavaScript, Django</span></p>
                    <ul class="skills-li">
                        <!-- <i class="far fa-check-circle"></i> -->
                        <li>Django를 통한 웹 어플리케이션 구현</li> 
                        <li>웹 크롤링</li>
                        <li>jQuery, ajax 사용</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Etc.</h4>
                    <p class="skills-text"><span>MySQL, AMPL</span></p>
                    <ul class="skills-li">
                        <li>관계형 DB 설계 및 사용</li>
                        <li>선형계획법 등 최적화 문제 해결 (CPLEX)</li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
