<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About <span>Me</span></h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row aboutme" style="text-align: left;max-width: 52em; margin: auto;padding: 2em 0 0;line-height: 1.6em;">
                <span><spna style="color:#fec503">1. </spna>도전하는 것을 좋아합니다.</span>
                <p>
                수학과를 졸업한 후 조금 더 산업 분야에 다가가기 위해 IT유통물류 석사 과정을 밟았습니다.
                그 과정에서 프로그래밍 공부에 흥미를 가지게 되었고, IT 분야를 중점적으로 공부해 나갔습니다.
                또한, 4차 산업혁명 기술이 중요성을 느끼고 졸업 후 삼성 멀티캠퍼스에서 딥러닝 과정을 이수하였습니다.
                저는 앞으로도 도전을 두려워 하지 않고 새로운 기술에 적응하는 개발자가 될 것입니다.
                </p>
                <span class="aboutme"><span style="color:#fec503">2. </span>논리적인 사고로 문제를 해결할 것입니다.</span>
                <p>
                세 편의 논문과 한 편의 졸업논문을 작성한 경험이 있습니다. 이러한 경험에서 문제를 해결해 나가는 과정을 알게 되었으며, 앞으로도 논리적인 사고를 통해 문제에 접근할 것입니다.
                </p>
                <span class="aboutme"><span style="color:#fec503">3. </span>다양한 분야 사람들과 협업에 익숙합니다.</span>
                <p>
                융합학과를 다니며 다양한 전공자들과 프로젝트를 진행한 경험이 있습니다. 
                각 팀원의 역량이 서로 다르다는 것을 알게되었고, 각자의 장점에 맞는 역할을 수행하므로서 시너지를 내려 노력하였습니다.
                이 경험은 멀티캠퍼스에서 프로젝트를 원활히 진행하는데 도움이 되었습니다.
                </p>
                 
            </div>
            <!-- <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>